/*header styles*/


/* black top string  */

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    max-height: 2380px;
}

.alighcenter {
    text-align: center;
}

.black-header {
    width: 1200px;
    height: 30px;
    background: #000000;
    display: flex;
}

.header-custom {
    color: #fff;
    font-size: 11px;
    margin-left: 114px;
    margin-top: 10px;
    vertical-align: middle;
}

.header-number {
    color: #fff;
    font-size: 12px;
    margin-left: 6px;
    margin-top: 8px;
    vertical-align: middle;
    padding-right: 564px;
}

header .stick-1 {
    border-right: 2px solid #404040;
    font: 18px;
    margin-left: 6px;
    padding-top: 12px;
}

header .selector {
    color: #ffffff;
    background-color: #000000;
    margin-left: 10px;
    font-size: 11px;
    outline: none;
    margin-top: 1px;
    border: none;
}

header .user {
    margin-left: 11px;
    padding-top: 7px;
    padding-left: 14px;
    border-left: 2px solid #404040;
}

header .account {
    color: #f7f7f7;
    margin-top: 8px;
    margin-left: 0px;
    font-size: 11px;
}

header .loop {
    color: #f7f7f7;
    margin-left: 15px;
    padding-top: 7px;
    padding-left: 8px;
    padding-right: 9px;
    border-left: 2px solid #404040;
    border-right: 2px solid #404040;
}


/*white string */

.white-header {
    display: flex;
    align-items: center;
    margin-left: 110px;
    margin-top: 22px;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

header .logo-photo {
    margin-top: 3px;
}

header .top-five-links li {
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
}

header .top-link-one {
    margin-left: 178px;
    margin-bottom: 10px;
}

header .top-link-two {
    margin-left: 28px;
}

header .top-link-three {
    margin-left: 28px;
}

header .top-link-four {
    margin-left: 29px;
}

header .top-link-five {
    margin-left: 28px;
}

header .top-five-links li a {
    display: block;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid #000000;
}

.triangle-first {
    margin-top: 9px;
}

.your-cart-photo {
    padding-left: 24px;
}